%ul.thumbnails
  - @photos.each do |photo|
    %li.span2
      %a.thumbnail{href: photo_path(photo)}
        = image_tag photo.image.url(:thumb) rescue nil
      .caption
        %h5= photo.name
        %p= "album: #{photo.album.name}"
